<html>
    <head>
        <title>E-COMMERCE</title>
        <link rel="stylesheet" type="text/css" href="welcome/style.css">
        </head>
<body>

<div class ="main">
    <div class="topbar"></div>
    
    <div class="social_icon">
        <div class="container">
        <div class="icon">
            <a href="https://instagram.com"><%= image_tag("social.jpg") %></a>
            <a href="https://facebook.com"><%= image_tag("fb.jpg") %></a>
            <a href="https://twitter.com"><%= image_tag("twitter.png") %></a>
        </div>
        
        <div class="header_right">
        <div class="login_register_btn">
        <a href="#">Login /</a>
        <a href="#">Register</a>
    </div>
    </div>
    
    </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="logo">
                <%= image_tag("logo.jpg") %>
                <h1>Shop-E</h1>
                <!--<img class="center-fit" src='../images/social.jpg'>-->
            </div>
            <div class="navbar">
                <a href="#">HOME</a>
                <a href="#">MEN</a>
                <a href="#">WOMEN</a>
                <a href="#">OFFER ZONE</a>
            </div>
        </div>
    </div>
    <div class="welcome_text">
        <h1>WELCOME! CHECK OUT OUR LATEST COLLECTION</h1>
    </div>
    <div class="event_section">
        <div class="container">
            <div class="event_one">
                <h3>GADGETS</h3>
                <p>Laptops,Smart phones,Phone Accessories,Smart Home</p>
            </div>
            <div class="event_two">
                <h3>TODAY'S DEALS</h3>
                <p>Laptops,Smart phones,Phone Accessories,Smart Home</p>
            </div>
            <div class="event_three">
                <h3>UPCOMING EVENTS</h3>
                <p>Laptops,Smart phones,Phone Accessories,Smart Home</p>
            </div>
            <div class="product">
        <div class="container">
            <div class="product_section_title">LATEST ARRIVAL IN CAMERAS</div>
            <div class ="product_one">
                
                <div class="product_img">
                  <%= image_tag("camera1.png") %>    
                </div>
                
                <div class="product_text">
                    <h4>Nikon D5300 dslr Camera with afp 1855mm lens black</h4>
                    <p>Rating:-5/5</p>
                    <p>&euro; 435</p>
                    
                    <div class="buy_now">
                    <a href="#">Buy Now</a>
                    </div>
                    
                </div>
                
            </div>
            <div class ="product_one product_two">
                <div class="product_img">
                  <%= image_tag("cam2.png") %>    
                </div>
                <div class="product_text">
                    <h4>Canon EOS 80D DSLR Camera With 18-55mm Lens</h4>
                    <p>Rating:-4/5</p>
                    <p>&euro; 878.99</p>
                    <div class="buy_now">
                    <a href="#">Buy Now</a>
                    </div>
                </div>
                
            </div>
            <div class ="product_one product_three">
                <div class="product_img">
                  <%= image_tag("cam3.png") %>    
                </div>
                <div class="product_text">
                    <h4>Sony Cyber-shot DSC-RX10 IV Digital Camera</h4>
                    <p>Rating:-3/5</p>
                    <p>&euro; 1579.99</p>
                    <div class="buy_now">
                    <a href="#">Buy Now</a>
                    </div>
                </div>
                
        </div>
    </div>

        </div>
        </div>
    
</body>
</html>